.container {
  margin-top: 100px;
  display: flex;
}

.cards {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -120px;
}

.card {
  display: flex;
  flex-wrap: center;
  display: grid;
  align-items: center;

  justify-content: space-between;
  width: 270px;
  height: 370px;
  margin-left: 10px;
  margin-top: 20px;
}
.btn {
  display: flex;
  width: 200px;
  height: 40px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.select {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 10px;
}
