.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.glassBox {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  width: 90%;
  height: 90%;
}

.content {
  flex: 1;
  text-align: center;
}

.image {
  width: 650px;
  display: block;
  margin: 0 auto;
}

.buttonHome {
  background-color: #ffc61a;
  border: none;
  border-radius: 30px;
  display: flex;
  height: 80px;
  width: 500px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.buttonHome:hover {
  background-color: #e5b200;
}

.pikachu {
  max-width: 90px;
  margin-right: 12px;
  padding-right: 0px;
}

.h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-decoration: none;
}

.logo {
  height: 14em;
}
