.container {
  display: flex;
  justify-content: space-between;
}

.navBar {
  display: flex;
  align-items: center;
  background-color: #060107db;
  color: #fff;
  height: 60px;
  padding: 0px 20px;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  height: 10%;
  width: 10%;
}
