/* NavBar.module.css */

.container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  background-color: #333;
  padding: 5px;
}

.navBar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.newContainer {
  display: flex;
  align-items: center;
}

button {
  background-color: #ffc61a; /* Amarillo Pikachu */
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e5b200; /* Amarillo Pikachu más oscuro al hacer hover */
}

.newPoke {
  margin-left: 20px;
}
